/*หน้าต่างเว็บ รูปแบบการนำเสนอ*/
.App {
  background-color: white;
  color: black;
  font-family: inherit;
  }

.Header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.TopBar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
}

.TopBarLeft{
  float: left;
  display: block;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-position: sticky;
  position: sticky;
}

.TopBarRight{
  float: right;
  display: block;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-position: sticky;
  position: sticky;
}

.TopBarRight:hover{
  border-bottom: 2px solid black;
}

.TopBarLeft:hover{
  border-bottom: 2px solid black;
}

.TopBarLeft.active {
  border-bottom: 2px solid black;
}

.TopBarLeft.active {
  border-bottom: 2px solid black;
}

.Sticky {
  -webkit-position: sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.Row {
  display: flex;
} 

.Column {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.Column.Side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 20%;
   background-color: white;
   margin: 10px;
}

.Column.Middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 80%;
  background-color: white;
}

.Column.Half {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 50%;
  background-color: white;
}

.Footer {
  grid-area: footer;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 195px;
  padding-top: 90px;
  padding-bottom: 90px; 
}

/*รายละเอียด ตัวหนังสือ ตาราง กล่องข้อความ ปุ่ม*/
input[type=text] {
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px
}

input[type=search] {
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 20px;
  margin: 10px;
}

input[type=number] {
  width: 150px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 16px;
  background-color: white;
  float: left;
  padding: 12px 20px 12px 20px;
  margin-top: 25px;
  margin-right: 25px;

}

input[type=date] {
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  padding: 8px 20px 11px 20px;
  margin: 10px;
}

input [type=checkbox] {
  
  margin: 10px;
}

.Select{
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  padding: 9px 20px 14px 20px;
  margin: 10px
}

.FontHeader {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.FontBody {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.FontDetial{
  padding: 10px;

  text-align: left;
  font-size: 16px;
}
.FontSuccess {
  color: #4CAF50;
}

.FontDanger {
  color: #f44336;
}

.FontWarning {
  color: #ff9800;
}

.PhotoProfile {
  width: 50%;
  float: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  display: block;
  
}

.PhotoProduct {
  width: 100%;
  height: 300px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
  object-fit: cover;
}

.Photo{
  width: 1000px;
  height: 500px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}

.Logo {
  font-size: 15px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

td {
  padding: 10px;
  font-size: 16px;
  text-align:justify;
  vertical-align: top;
}

th{
  text-align:center;
  padding: 10px;
  vertical-align: top;
  background-color: #ccc;
}

tr:hover {
  background-color: #ccc;
}

th,tr,td{
  border: 1px solid black;
}

.Card {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  text-align: left;
  float: left;
  margin-left: 50px;
}

.FontCard {
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.CardDetial{
  white-space: nowrap; 
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  word-wrap:break-word;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Price {
  color: grey;
  font-size: 22px;
}

.BTNList {
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  float: center;
  font-size: 16px;
  width: 10%;
  padding: 12px 20px 12px 20px;
  margin: 10px;
}

.BTNGrid {
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  font-size: 16px;
  float: center;
  width: 10%;
  padding: 12px 20px 12px 20px;
  margin: 10px;
}
.BTNDetial {
  border: none;
  color: black;
  background-color: lightgrey;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 100%;
  height: 45px;
}

.BTNDetial:hover {
  background-color: #000;
  color: white;
}

.BTNSearch{
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px 12px 20px;
  margin-top: 10px;
}

.BTNEdit {
  border: none;
  color: white;
  background-color: #2196F3;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px 12px 20px;
}

.BTNAddProduct{
  border: none;
  color: black;
  background-color: #4CAF50c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: left;
  width: 30%;
  height: 45px;
  margin-top: 25px;
}

.BTNAddProduct:hover {
  background-color: #4CAF50;
  color: white;
}

.BTNCencleProduct{
  border: none;
  color: black;
  background-color: #f44336c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 100%;
  height: 45px;
}

.BTNCencleProduct:hover {
  background-color: #f44336;
  color: white;
}

.BTNDelete{
  border: none;
  color: black;
  background-color: #f44336c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;
}

.BTNDelete:hover{
  background-color: #f44336;
  color: white;
}

.BTNPreview{
  border: none;
  color: black;
  background-color: #ff9800c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;
}

.BTNPreview:hover {
  background-color: #ff9800;
  color: white;
}

.BTNComfirm{
  border: none;
  color: black;
  background-color: #4CAF50c2;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  width: 25%;
  height: 45px;
  margin-top: 50px;
}

.BTNComfirm:hover {
  background-color: #4CAF50;
  color: white;
}

.BTNProcess{
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

.BTNProcess:hover{
  background-color: #555;
  color:white;
}

.BTNSuccess{
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

.BTNSuccess:hover{
  background-color: #555;
  color:white;
}

.BTNWarning {
  color: #ff9800;
  border: none;
  background-color: white;
  font-size: 16px;
}


.Cart {
  top: 100px;
  position: absolute;
  right: 0px;
  padding: 10px;
  width: 45px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: white;
  border-radius:  5px 0 0 5px ;
  background-color: lightgray;
}

.Cart:hover {
  background-color: gray;
}

.PhotoCart{
  margin-right: 20px;
}

.Badge {
  position: absolute;
  top: 0px;
  right: -10px;
  text-align: center;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.Status {
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.Timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: gray;
  top: 20px;
  bottom: 40px;
  left: 205px;
} 

.Container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;  
}

.Container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 200px;
  background-color: white;
  border: 2px solid #4CAF50;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.FontStatus {
  padding-left: 230px ;
  text-align: left;
}